<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: hsl(182, 100%, 10%);
    color: white;
}
</style>
</head>
<body>
<h1>Listing articles</h1>
 <div class="print_link_block">
        <div class="buttons">
          <a href="javascript:void(o)" class="print">Print this page </a>
        </div><!--button-->
      </div><!--print_link_block-->
<table>
  <tr>
    <th>Name</th>
    <th>father_name</th>
    <th>open_date</th>
    <th>end_date</th>
    <th>Amount</th>
    <th>address</th>
    <th>status</th>
    
  </tr>
 
  <% @articles.each_with_index do |article| %>
    <tr class="act">
      <td><%= article.name %></td>
      <td><%= article.father_name %></td>
      <td><%= article.open_date.strftime("%d-%m-%Y") %></td>
      <td><%= article.end_date.strftime("%d-%m-%Y") %></td>
      <%#= article.open_date.strftime("%d %m %Y") %>
        <td><%= article.amount %></td>
          <td><%= article.address %></td>
           <td class="test"><%= article.status %></td>
      
    </tr>
  <% end %>
  <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%#= article.open_date.strftime("%d %m %Y") %>
        <td>Total Amount:<%= @articles.each.collect(&:amount).inject(:+)%></td>
          <td></td>
           <td></td>
      
    </tr>
</table>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
                $("a.print").on("click",function(){
                    $("a.print").css("visibility","hidden");
                    window.print();
                });
            });
      </script>

  </body>
</html>
