<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script type="text/javascript">
$(document).ready(function(){
      $("#open_date").datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(selected) {
            $("#open_dates").datepicker("option","minDate", selected)
          }
      });
      $("#open_dates").datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(selected) {
             $("#open_date").datepicker("option","maxDate", selected)
          }
      }); 
  });
</script>
</head>
<body>
<h1>Status List</h1>
<%logger.info "======page-name=========#{params[:page_name]}=======nameeeeee======"%>

<%logger.info "====33333===jgfhgf====vpageproperties====#{@page_properties.inspect}=======nameeeeee======"%>


<%logger.info "======page-name====#{@page_properties.inspect}=====#{params[:action].inspect}=======vvvvvvvvvv======"%>
 <%= form_tag status_path :method => 'get' do%>
<%= text_field_tag :open_date, params[:open_date]%>
<%= text_field_tag :open_dates, params[:open_dates]%>
<%= text_field_tag :search, params[:search]%>

<%= submit_tag "status",:id=>"status"%>
<%end%>

<table>
  <tr>
    <th>Name</th>
    <th>father_name</th>
    <th>open_date</th>
    <th>end_date</th>
    <th>Amount</th>
    <th>address</th>
    <th>status</th>
    
  </tr>
 
  <% @articles.each_with_index do |article| %>
    <tr class="act">
      <td><%= article.name %></td>
      <td><%= article.father_name %></td>
      <td><%= article.open_date.strftime("%d-%m-%Y") %></td>
      <td><%= article.end_date.strftime("%d-%m-%Y") %></td>
      <%#= article.open_date.strftime("%d %m %Y") %>
        <td><%= article.amount %></td>
          <td><%= article.address %></td>
           <td><%= article.status %></td>
      
    </tr>
  <% end %>
  
</table>

<p> <%#= @articles.each.collect(&:amount).inject(:+)%> </p>

</body>
</html>

