<h1>Listing articles</h1>
 <%= form_tag search_path :method => 'get' do%>
<%= text_field_tag :open_date, params[:open_date]%>
<%= text_field_tag :end_date, params[:end_date]%>
<%= submit_tag "search"%>
<%end%>
<table>
  <tr>
    <th>Name</th>
    <th>father_name</th>
    <th>open_date</th>
    <th>end_date</th>
    <th>Amount</th>
    <th>address</th>
    <th>status</th>
    
  </tr>
 
  <% @articles.each_with_index do |article| %>
    <tr class="act">
      <td><%= article.name %></td>
      <td><%= article.father_name %></td>
      <td><%= article.open_date.strftime("%d-%m-%Y") %></td>
      <td><%= article.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= article.amount %></td>
          <td><%= article.address %></td>
           <td><%= article.status %></td>
      
    </tr>
  <% end %>
</table>

<p> <%= @articles.each.collect(&:amount).inject(:+)%> </p>