<!DOCTYPE html>
<html>
<head>
<style>




table {
    border-collapse: collapse;
    width: 50%;
}
table, td, th {
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

</style>
</head>
<body>
<h1>Status List</h1>

<table>
 <tr>
    <th>jewele_no</th>
    <th>member_no</th>
    <th>Name</th>
     <th>Sex</th>
    <th>Father Name</th>
    <th>Gender</th>
    <th>loan_date</th>
    <th>gold_description</th>
    <th>gold_total</th>
     <th>gold_cross_weight</th>
    <th>gold_net_weight</th>
    <th>total_amount</th>
    <th>loan_amount</th>
    <th>status</th>
    <th>loan_close_date</th>
    <th>closing_amount</th>
  
    <th>Address</th>
    <th>Mobile.No</th>
    
    <th colspan="3"></th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= store.jewele_no %></td>
      <td><%= store.member_no %></td>
      <td><%= store.name %></td>
      <td><%= store.sex %></td>
      <td><%= store.father_name %></td>
      <td><%= store.gender %></td>
      <td><%= store.loan_date %></td>
      <td><%= store.gold_description %></td>
      <td><%= store.gold_total %></td>
      <td><%= store.gold_cross_weight %></td>
      <td><%= store.gold_net_weight %></td>
      <td><%= store.total_amount %></td>
      <td><%= store.loan_amount %></td>
       <td><%= store.status %></td>
      <td><%= store.loan_close_date %></td>
      <td><%= store.closing_amount %></td>
      <td><%= store.address %></td>
      <td><%= store.mobile %></td>
    </tr>
  <% end %>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total Amount=<%#= @articles.each.collect(&:member_amount).inject(:+)%></td>
       <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
</table>


</body>
</html>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
                $("a.print").on("click",function(){
                    $("a.print").css("visibility","hidden");
                    window.print();
                });
            });
      </script>