<%= form_for @book do |f| %>

  <p>
    <%= f.label :book_name %><br>
    <%= f.text_field :book_name %>
  </p>

 
  
  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </p>
 <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>
  

  <p>
    <%= f.submit %>
  </p>
<% end %>




 